p{
    color: green;
}

body{
    background-image: url("/Img/images.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}